.navbar-custom {
    color: #f04124;
    background-color: #f04124;
  }
  
  .navbar-custom .navbar-brand {
    color: white;
  }
  
  .navbar-custom .nav-link {
    color: white;
  }
  
  .navbar-custom .btn-outline-secondary {
    color: white;
    border-color: white;
  }
  
  .navbar-custom .btn-outline-secondary:hover {
    background-color: white;
    color: #f04124;
  }